@media (orientation: portrait) {
	#inputLine {
		display: grid;
		border-bottom: 2px solid;
		margin: auto 5vw 5vw;
		justify-content: end;
		overflow-wrap: break-all;
	}
	.calculatorInput {
		position: absolute;
		bottom: 0;
		font-size: 4rem;
		overflow-wrap: break-all;
	}
	#calculatorGrid {
		position: absolute;
		margin-bottom: 1.1rem;
		bottom: 0;
		align-items: center;
		--ion-grid-columns: 4;
		--ion-grid-column-padding: 0;
		--ion-grid-padding: 0px;
	}
	.calculatorColumns {
		margin: 0rem;
		text-align: center;
	}
	.calculatorRows {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: -0.3rem;
	}

	.calculatorButtons {
		width: 4rem;
		height: 4rem;
		--border-radius: 100%;
		font-size: 1.7rem;
	}

	#zeroButton {
		margin-left: 1.2rem;
		--border-radius: 35rem;
		width: 87%;
	}

	#equalsButton {
		--border-radius: 35rem;
		height: 188%;
	}
}
@media (orientation: landscape) {
	#inputLine {
		display: grid;
		border-bottom: 2px solid;
		margin: auto 5vw 2vw;
		justify-content: end;
		overflow-wrap: break-all;
	}
	.calculatorInput {
		position: absolute;
		bottom: 0;
		font-size: 4rem;
		overflow-wrap: break-all;
	}
	#calculatorGrid {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
		margin-bottom: 1.1rem;

		align-items: center;
		--ion-grid-columns: 4;
		--ion-grid-column-padding: 0;
		--ion-grid-padding: 0px;
	}
	.calculatorColumns {
		text-align: center;
	}
	.calculatorRows {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.calculatorButtons {
		width: 87%;
		height: 2rem;
		font-size: 1.3rem;
		--border-radius: 35rem;
	}

	#zeroButton {
		margin-left: 1.2rem;
		--border-radius: 35rem;
		width: 89%;
	}
	#decimalButton {
		width: 82%;
	}

	#equalsButton {
		--border-radius: 35rem;
		height: 188%;
	}
}
