#inputLine {
	display: grid;
	border-bottom: 2px solid rgb(255, 255, 255);
	margin-top: auto;
	margin-bottom: 25px;
	margin: auto 5vw 0 5vw;
	justify-content: end;
	overflow-wrap: break-all;
}
.calculatorInput {
	font-size: 4rem;
	overflow-wrap: break-all;
}

#calculatorLayout {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px 2px;
	justify-self: center;
	align-self: center;
	justify-content: center;
	margin: 5vw 5vw 5vw 5vw;
	max-width: 100%;
	width: auto;
	height: auto;
}
.roundedButton {
	height: 5rem;
	width: 5rem;
	font-size: 2rem;
	text-align: center;
	--border-radius: 50%;
	--box-shadow: 0 0 0 0.095rem rgb(255, 255, 255);
	--background: rgba(98, 0, 128, 0);
}
#clearButton {
	grid-area: 1/1/1/1;
	--box-shadow: 0 0 0 0.095rem rgb(240, 156, 30);
	--background: rgba(98, 0, 128, 0);
}
#divisionButton {
	grid-area: 1/3/1/3;
	--box-shadow: none;
	--background: rgb(240, 156, 30);
	--color: rgb(98, 0, 128);
}
#multiplicationButton {
	grid-area: 1/4/1/4;
	--box-shadow: none;
	--background: rgb(240, 156, 30);
	--color: rgb(98, 0, 128);
}
#sevenButton {
	grid-area: 2/1/2/1;
}
#eightButton {
	grid-area: 2/2/2/2;
}
#nineButton {
	grid-area: 2/3/2/3;
}
#subtractionButton {
	grid-area: 2/4/2/4;
	--box-shadow: none;
	--background: rgb(240, 156, 30);
	--color: rgb(98, 0, 128);
}
#fourButton {
	grid-area: 3/1/3/1;
}
#fiveButton {
	grid-area: 3/2/3/2;
}
#sixButton {
	grid-area: 3/3/3/3;
}
#additionButton {
	grid-area: 3/4/3/4;
	--box-shadow: none;
	--background: rgb(240, 156, 30);
	--color: rgb(98, 0, 128);
}
#oneButton {
	grid-area: 4/1/4/1;
}
#twoButton {
	grid-area: 4/2/4/2;
}
#threeButton {
	grid-area: 4/3/4/3;
}
#decimalButton {
	grid-area: 5/3/5/3;
}
#equalsButton {
	grid-area: 4/4/5/4;
	height: 192%;
	--border-radius: 50%/25%;
	--box-shadow: none;
	--background: rgb(240, 156, 30);
	--color: rgb(98, 0, 128);
}
#zeroButton {
	grid-area: 5/1/5/2;
	width: 192%;
	--border-radius: 25%/50%;
}
